@import '~antd/dist/antd.css';

#components-form-demo-normal-login .login-form {
  max-width: 300px;
}
.login-form-forgot {
  float: right;
}
#components-form-demo-normal-login .ant-col-rtl .login-form-forgot {
  float: left;
}
.login-form-button {
  width: 100%;
}

h1 {
  font-size: 50px;
  font-style: italic;
}

.login {
  width: 300px;
  padding-top: 12%;
  margin: 0 auto;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #FFF;
}

.App-link {
  color: #61dafb;
}

.exit-button {
  width: 100%;
  background-color: #ff3535;
  border: 1px solid transparent;
  color: #FFF;
  text-shadow: 0 -1px 0 rgb(0 0 0 / 12%);
  box-shadow: 0 2px 0 rgb(0 0 0 / 5%);
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.exit-button:hover {
  background-color: #f94949;
  color: #FFF;
  border: none;
  
}

.ant-btn-loading-icon {
  visibility: hidden;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
