@import '~antd/dist/antd.css';
@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');

#components-form-demo-normal-login .login-form {
  max-width: 300px;
}

.login-form-forgot {
  float: right;
}

#components-form-demo-normal-login .ant-col-rtl .login-form-forgot {
  float: left;
}

.login-form-button {
  width: 100%;
}

#components-layout-demo-custom-trigger .trigger {
  padding: 0 24px;
  font-size: 18px;
  line-height: 64px;
  transition: color 0.3s;
}

#components-layout-demo-custom-trigger .trigger:hover {
  color: #1890ff;
}

#components-layout-demo-custom-trigger .logo {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.3);
}

.site-layout .site-layout-background {
  background: #fff;
}

body {
  min-height: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

h1 {
  font-size: 50px;
  font-style: italic;
}

.login {
  margin: auto;
  display: flex;
  max-width: 90vw;
  align-items: center;
  justify-content: space-around;
  margin-top: 8%;
}

.login-wrapper {
  flex: 2;
  max-width: 300px;
}

.image-wrapper {
  flex: 3;
  max-width: 600px;
}

.navbar {
  padding: 0 10px;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  align-content: center;
  justify-content: space-between;
  width: 100%;
  height: 70px;
}

.navbar p {
  font-family: 'Monoton', cursive;
  font-size: 55px;
  color: #fff;
}

.exit-button,
#button-close-modal,
#button-close-modal-rotulo,
#button-close-modal-detalhes {
  margin: 0;
  line-height: 40px;
  box-sizing: content-box;
  width: 70px;
  height: auto;
  background-color: #ff3535;
  color: #FFF;
  border: 1px solid transparent;
  border-radius: 4px;
  text-shadow: 0 -1px 0 rgb(0 0 0 / 12%);
  box-shadow: 0 2px 0 rgb(0 0 0 / 5%);
}

.exit-button:hover {
  color: #FFF;
  border: none;
}

#button-close-modal,
#button-close-modal-rotulo,
#button-close-modal-detalhes {
  line-height: 25px;
  width: 30px;
  float: right;
  padding-top: 0;
}

#p-login {
  color: #71a2cf;
  cursor: pointer;
}

.home-calendar {
  max-width: auto;
  margin: 20px 60px;
}

.menu {
  display: flex;
  justify-content: center;
  padding-top: 30px;
}

.menu button {
  margin: auto 30px;
  padding: 5px;
}

button {
  background-color: #f1f1f1;
  border-style: hidden;
  border-radius: 3px;
  font-weight: 500;
  cursor: pointer;
}

footer {
  text-align: center;
}

.modal-content {
  height: auto !important;
  width: 60% !important;
  padding: 30px;
}

.modal-content h2,
.modal-content-detalhes h2 {
  font-size: xx-large;
  text-align: center;
}

::-webkit-scrollbar {
  width: 1px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}